<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name"viewport" content="width=device-width,initial-scale=1">
	<script src='/index.js'></script>
	<link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
	<title>URL Shortener Microservice</title>
</head>
<body>
	<h1> URL SHORTENER MICROSERVICE </h1>
	
	<form id="frm" action="/api/shorturl/new" method="post">
		<input id="url" name="url" type="text" placeholder="ex. https://www.google.com" autocomplete="off"><br>
		<button type="submit">SHOW</button>
	</form>
	
	
</body>
